// Variables:
// =========


// Configuration
$direction   : rtl;
$line-height : 1.618rem;

// Fonts
$Mitra-regular    : "BMitra-Regular";
$Mitra-bold       : "BMitra-Bold";
$Nassim-regular   : "nassim-regular";
$Nassim-bold      : "nassim-bold";
$font-icon        : "icomoon";

// Grid
$breakpoint-large      : 58rem;
$breakpoint-medium     : 36rem;
$breakpoint-small      : 425px;

// Colors
$c-white        : #ffffff;
$c-blue         : #0076b0;
$c-dark         : #333;
$c-red          : #e74c3c;
$color-hover    : darken(#e74c3c, 10%);
